@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&display=swap');

*{
    list-style: none;
    text-decoration: none;
    border-collapse: collapse;
    margin: 0px;
    padding: 0px;
    color: black;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 600;
}

.intro_bg{
    background-image: url("image/intro.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height:718px;
}

.logo{
    margin-left: 40px;
    width: 75px;
    height: 65px;
}


.header{
    display:flex;
    width:100%;
    margin:auto;
    height: 65px;
    background-color: white;
    position: fixed;
}

.nav{
    display:flex;
    justify-content: flex-start;
    width: 460px;
    line-height: 65px;
    margin-left: 50px;
}

.nav>li{
    text-align: center;
}

.nav>li>a{
    color: black;
    margin: 10px;
    padding: 5px;
}

.nav>li>a:hover{
    color: brown;
}

.dropdown{
    
    width: 90px;
    background-color: white;
    position: absolute;
    z-index: 999;
    display: none;
}

.dropdown>li>a{
    color: black;
}


.nav>li:hover .dropdown {
    display: block;
}

.dropdown>li>a:hover{
    color:brown;

}

.login>a{
    color: black;
    font-size: small;
}

.login{
    display:flex;
    justify-content: flex-end;
    width: 100%;
}

.login>a:first-child{
    margin-right: 20px;
    line-height: 65px;
}

.login>a:hover{
    color: brown;
}

.login>a>img{
    width: 50%;
    margin-top: 23px;
}

.column {
    float: left;
    width: 50%;
  }
  
  /* Responsive layout - makes the three columns stack on top of each other instead of next to each other on smaller screens (600px wide or less) */

  @media screen and (max-width: 600px) {
    .column {
      width: 100%;
    }
  }

  .column:hover{
    opacity: 0.4;
  }